.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.6rem 10%;
  font-family: 'Roboto';
  background-color: #dee2e6;
  align-items: center;
  margin: 0;
}

.main {
  background-color: #f8f9fa;
  position: absolute;
  width: 100%;
}

.header img {
  width: 64px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.btn {
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #adb5bd;
  transition: all 0.4s;
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: #212529;
}

.btn:hover,
.btn:active {
  color: #fff;
  background-color: #495057;
}

.btn--login {
  background-color: #212529;
  color: #fff;
}

.btn--login:hover,
.btn--login:active {
  color: #212529;
  background-color: #adb5bd;
}

.main-nav {
  font-size: 1.2rem;
}

.logo {
  font-size: 1.6rem;
}
